html {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

.d-none {
  display: none !important;
}
section {
  margin-left: 64px;
}
button {
  border: unset;
  border-radius: 10px;
  background-color: #2a3647;
  padding: 8px 16px;
  color: white;
  font-size: 24px;
  display: flex;
  gap: 4px;
  align-items: center;
}

button:hover {
  cursor: pointer;
  background-color: #29abe2;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.boardHeader {
  width: 1056px;
  height: 73px;
  display: flex;
  justify-content: space-between;
  background-color: red;
}

.boardHeaderInteract {
  display: flex;
  align-items: center;
}

.inputWithImg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 312px;
  height: 48px;
  border-radius: 10px;
  background-color: white;
  margin-right: 32px;
  padding: 8px 16px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.inputWithImg:hover {
  cursor: pointer;
}

#findTask {
  border: unset;
  width: 232px;
  height: 32px;
  font-size: 20px;
  border-right: 1px solid #d1d1d1;
}

.findTaskImg {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-image: url(../img/board_search.png);
}

.findTaskImg:hover {
  background-color: #eeeeee;
  border-radius: 50%;
}

/* Main Board Content */

.boradContent {
  display: flex;
}

.sectionDragArea {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.headerDragArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  width: 250px;
}

.draArea {
  max-height: 688px;
  overflow-y: auto;
}

.todo {
  width: 250px;
  padding: 16px;
  border-radius: 24px;
  margin-bottom: 16px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  font-size: 16px;
  font-weight: 400;
}

.toDoCategory {
  padding: 4px 16px;
  border-radius: 16px;
  color: white;
}

.toDoTitle {
  font-weight: 700;
  color: #2a3647;

  margin-bottom: 8px;
}

.toDoDescription {
  color: #a8a8a8;
}

.toDoSubtasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.toDoSubtasksProgress {
  height: 8px;
  width: 128px;
  border-radius: 4px;
  background-color: #f4f4f4;
}

.toDoSubtasksProgressFiller {
  height: 100%;
  border-radius: 4px;
  background-color: #4589ff;
}

.toDoSubtasksCount {
  font-size: 12px;
  display: flex;
}

.toDoBottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.toDoAssignedContainer {
  display: flex;
}

.toDoAssigned {
  border: solid 1px white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -10px;
}

.toDoPrio {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Open a ToDo */

#toDoOpenBg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.toDoOpen {
  width: 525px;
  max-height: 90vh;
  background-color: white;
  border-radius: 30px;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.toDoOpenHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.toDoOpenCategory {
  padding: 4px 24px;
  border-radius: 8px;
  color: white;
  font-size: 23px;
  font-weight: 400;
}

.toDoOpenTitle {
  font-size: 61px;
  font-weight: 700;
}

.toDoOpenSection {
  color: #2a3647;
  margin-right: 25px;
}

.toDoOpenDate {
  display: flex;
}

.toDoOpenPrio {
  display: flex;
  align-items: center;
}

.toDoOpenPrioIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toDoOpenPrioText {
  margin-right: 10px;
}
.boardPrioIcon {
  width: 17px;
}

.toDoOpenAssignedContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.toDoOpenAssigned {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 240px;
  overflow-y: auto;
  margin-top: 8px;
}

.toDoOpenUserAssigned {
  display: flex;
  align-items: center;
  padding: 7px 16px;
}

.toDoOpenCircleAssigned {
  border: solid 2px white;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toDoOpenNameAssigned {
  color: black;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  margin-left: 16px;
}

.toDoOpenSubtasksContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.toDoOpenSubtasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 120px;
  overflow-y: auto;
  margin-top: 8px;
}

/* beispiel check box */
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
