body {
  margin: 0;
  background: #F5F5F5;
  font-family: 'Inter', sans-serif;
}

.kanban-title {
  margin-top: 30px;
}

.contactHeadlineContent {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 550px;
  position: absolute;
  top: 130px;
  left: 600px;
  z-index: -1;
}

.headlineContacts {
  height: 73px;
  font-weight: 700;
  font-size: 50px;
}

.borderStyle {
  height: 50px;
  border: 2px solid #29ABE2;
  background-color: #29ABE2;
}

.textBetter {
  height: 32px;
  font-size: 22px;
  color: #2A3647;
}

.addContactBtn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  bottom: 3%;
  gap: 10px;
  width: 193px;
  height: 53px;
  background: #2A3647;
  border: 1px solid #2A3647;
  border-radius: 10px;
}

.addContactBtn:hover {
  cursor: pointer;
  border: 1px solid #29ABE2;
  background: #29ABE2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.addContactBtn-text {
  width: 130px;
  height: 25px;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}

.addContactImg {
  width: 33px;
  height: 29px;
}

.contact-book-main {
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #FFFFFF;
  width: 400px;
  height: calc(100% - 80px);
  position: absolute;
  top: 80px;
  left: 231px;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  z-index: -1;
  display: flex;
  flex-direction: column;
}