body {
  margin: 0;
  background: #F5F5F5;
  font-family: 'Inter', sans-serif;
}

.kanban-title {
  margin-top: 30px;
}

.contactHeadlineContent {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 550px;
  position: absolute;
  top: 130px;
  left: 600px;
  z-index: -1;
}

.headlineContacts {
  height: 73px;
  font-weight: 700;
  font-size: 50px;
}

.headline {
  font-weight: 700;
  font-size: 50px;
  padding-right:200px;
}

.borderStyle {
  height: 50px;
  border: 2px solid #29ABE2;
  background-color: #29ABE2;
}

.textBetter {
  height: 32px;
  font-size: 22px;
  color: #2A3647;
}

.contact-book-main {
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #FFFFFF;
  width: 400px;
  height: calc(100% - 80px);
  position: absolute;
  top: 80px;
  left: 231px;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  z-index: -1;
  display: flex;
  flex-direction: column;
}

.contact-book-main-rs {
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #FFFFFF;
  width: 400px;
  height: calc(100% - 80px);
  position: absolute;
  top: 80px;
  left: 231px;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  z-index: -1;
  display: none;
  flex-direction: column;
}